.cart{
    margin-top:60px;
    background:#fff;
    padding:35px;
    border-radius:20px;
    box-shadow:0 20px 40px rgba(0,0,0,.08);
}

.cart-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.cart-header h2{
    color:#3B2416;
}

.cart-header span{
    background:#C89B3C;
    color:white;
    padding:8px 18px;
    border-radius:30px;
    font-weight:bold;
}

.empty-cart{
    text-align:center;
    padding:60px 20px;
    color:#777;
}

.cart-item{
    display:flex;
    align-items:center;
    gap:20px;
    padding:20px 0;
    border-bottom:1px solid #eee;
}

.cart-item img{
    width:90px;
    height:90px;
    object-fit:cover;
    border-radius:12px;
}

.cart-info{
    flex:1;
}

.cart-info h3{
    margin-bottom:8px;
    color:#3B2416;
}

.cart-info p{
    color:#888;
}

.quantity{
    display:flex;
    align-items:center;
    gap:12px;
}

.quantity button{
    width:35px;
    height:35px;
    border:none;
    border-radius:50%;
    background:#3B2416;
    color:white;
    cursor:pointer;
    font-size:18px;
}

.quantity span{
    font-size:18px;
    font-weight:bold;
}

.remove-btn{
    background:#d62828;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:8px;
    cursor:pointer;
}

.cart-total{
    margin-top:35px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#3B2416;
    color:white;
    padding:25px;
    border-radius:15px;
}

.cart-total h1{
    color:#C89B3C;
}

@media(max-width:768px){

.cart-item{
flex-direction:column;
text-align:center;
}

.cart-total{
flex-direction:column;
gap:10px;
}

}