.best{
padding:90px 8%;
background:#F8F5F2;
text-align:center;
}

.best h2{
margin-bottom:50px;
font-size:42px;
color:#3B2416;
}

.best-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.best-card{
background:white;
padding:35px;
border-radius:18px;
box-shadow:0 10px 25px rgba(0,0,0,.08);
transition:.3s;
}

.best-card:hover{
transform:scale(1.05);
}

.best-card p{
color:#C89B3C;
font-weight:bold;
}