

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 60px;

  background: rgba(46, 27, 15, 0.95);

  backdrop-filter: blur(8px);

  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

/* ===== LOGO ===== */

.logo-section{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo{
  width:65px;
  height:65px;
  border-radius:50%;
  object-fit:cover;

  transition:.3s;
}

.logo:hover{
  transform:rotate(8deg) scale(1.08);
}

.logo-section h2{
  color:#C89B3C;
  font-size:28px;
  font-weight:bold;
}

/* ===== MENU ===== */

.nav-links{
  display:flex;
  list-style:none;
  gap:35px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-size:18px;
  font-weight:500;

  transition:.3s;
}

.nav-links a:hover{
  color:#C89B3C;
}

/* ===== CART ===== */

.cart-btn{

  background:#C89B3C;
  color:white;

  border:none;

  padding:12px 22px;

  border-radius:10px;

  cursor:pointer;

  font-size:18px;

  transition:.3s;
}

.cart-btn:hover{

  background:#dca53c;

  transform:translateY(-3px);
}

/* ===== MOBILE ===== */

@media(max-width:900px){

.navbar{

padding:15px 20px;

flex-direction:column;

gap:20px;

}

.nav-links{

flex-wrap:wrap;

justify-content:center;

gap:18px;

}

.logo-section h2{

font-size:22px;

}

}