.login-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(rgba(28,20,15,.88),rgba(28,20,15,.88)),
    url("../../assets/Image/hero.jpg");
    background-size:cover;
    background-position:center;
    padding:40px;
}

.login-card{
    width:100%;
    max-width:430px;
    background:white;
    padding:45px;
    border-radius:20px;
    box-shadow:0 20px 50px rgba(0,0,0,.25);
    text-align:center;
}

.login-card h1{
    color:#C89B3C;
    font-size:38px;
    margin-bottom:10px;
    font-family:"Cinzel",serif;
}

.login-card p{
    color:#777;
    margin-bottom:30px;
}

.login-card input{
    width:100%;
    padding:15px;
    margin-bottom:18px;
    border:1px solid #ddd;
    border-radius:12px;
    font-size:16px;
    outline:none;
    transition:.3s;
    box-sizing:border-box;
}

.login-card input:focus{
    border-color:#C89B3C;
    box-shadow:0 0 8px rgba(200,155,60,.3);
}

.login-card button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#C89B3C;
    color:white;
    font-size:17px;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
}

.login-card button:hover{
    background:#a97f2d;
    transform:translateY(-2px);
}

.login-error{
    color:#d62828;
    font-size:15px;
    margin-bottom:15px;
    font-weight:600;
}

@media(max-width:768px){

.login-card{
    padding:30px;
}

.login-card h1{
    font-size:30px;
}

}